<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
      xmlns:th="http://www.thymeleaf.org">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

  <title>Paris 2024</title>

  <style>
    body {
      padding-top: 50px;
    }

    .special {
      padding-top: 50px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Accueil</a>
      <a class="navbar-brand" href="/olympiades">Olympiade</a>
      <a class="navbar-brand" href="/sports">Sport</a>
    </div>
  </div>
</nav>
<style>
  h1 {
    text-align : center;
    font-family: Tahoma;
  }
  #exp h3{
    font-family: Tahoma;
    text-align : center;


  }
  #exp ul {
    font-family: Tahoma;
    margin-left:750px;

  }
</style>
<h1>Bienvenue sur le projet JETLAG.</h1>


<div id="exp"><h3>Voici la liste des USERS STORIES fonctionnelle :</h3>
<ul>
  <li>En tant que tous, je peux consulter les olympiades avec ses sports.</li>
  <li>En tant que tous, je peux consulter les sports avec ses épreuves.</li>
  <li>En tant que tous, je peux consulter les anciennes olympiades. </li>
  <li>En tant que tous, je peux lister les olympiades. </li>
  <li>En tant que tous, je peux lister les les sports. </li>
  <li>En tant que tous, je peux ajouter une olympiade. </li>
  <li>En tant que tous, je peux modifier une olympiade. </li>
  <li>En tant que tous, je peux supprimer une olympiade. </li>
  <li>En tant que tous, je peux ajouter un sport. </li>
  <li>En tant que tous, je peux modifier un sport. </li>
  <li>En tant que tous, je peux supprimer un sport. </li>
  <!--<li>En tant que tous, je peux ajouter une épreuve avec son sport. </li>
  <li>En tant que tous, je peux modifier une épreuve avec son sport. </li>-->

</ul>
</div>







<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>